#background_vid{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.centerlogo{
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo{
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
}